extends layout

block content
	div.pageContainer(ng-controller="recipesController")
		div.container2
			div.row
				div.col-md-8.col-md-offset-2.col-xs-12#title-text
					h1 Need a recipe?
					p List the ingredients you want to use, we'll find you something.
			div#ingredient-container
				div.single-ingredient
					input.form-control.ingredient-search(type="text" placeholder="Seperate Ingredients with a comma")
					span.input-group-btn
						button.btn.btn-default.add-ingredient.ingredient-control(type="button" ng-click="getRecipes()" aria-label="test") Let's Cook!
			div.alert.alert-info.hidden#num-of-ingredients You must have at least one ingredient, give us something to work with! 
			div.alert.alert-info.hidden#empty-input Nice try, no empty boxes!
		div#card-flipper
			div.swipe-control#more-info
			div.card-holder		
				ul#listOfRecipes
					li(ng-repeat='recipe in recipes') 
						div.recipeCard(ng-swipe-left="expand()" ng-swipe-right="next()")
							img(src="{{recipe.image_url}}")
							h4 {{recipe.title}}
			div.swipe-control#next-card