body {
  height: 100%;
  background-color:#FEFAF6;

}

a {
  color: #00B7FF;
}

#sidebar{
	width:1%;
	display: none;
	min-width: 100px;
	float: left;
}

#sidebar li{
	list-style: none;
}
#sidebar li div{
	width:100%;
	background-color: gray;

}

#main{
	width: 100%;
	display: block;
	position: relative;
	float: right;
	padding: 20px;
}

#sidebar-button{
	display: block;
}
ul li{
	list-style: none;
}
.recipeCard{
	width:75%;
	text-align: center;
	margin: 0 auto;
	background: none;
	border: 1px solid #F0F0F0 ;
	margin: 0 auto;
	border-radius: 5px;
	color: #FF5D00;
}	
.recipeCard img{
	width: 100%;
	height: auto;
}

.jumbotron{
	border-radius: 5px;
	color: white;
	background: rgb(255,93,0); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,93,0,1) 0%, rgba(255,117,38,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,93,0,1)), color-stop(100%,rgba(255,117,38,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,93,0,1) 0%,rgba(255,117,38,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,93,0,1) 0%,rgba(255,117,38,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,93,0,1) 0%,rgba(255,117,38,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,93,0,1) 0%,rgba(255,117,38,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5d00', endColorstr='#ff7526',GradientType=0 ); /* IE6-9 */
}
#listOfRecipes{
	display: none;
}
#title-text{
	text-align: center;
}
.ingredient-control{
	height: 34px;
}
.single-ingredient{
	margin: 5px
}
